{% extends 'base.html' %}

{% block title %}
     Client list - {{ block.super }}
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item active">Clients</li>
{% endblock %}

{% block content %}
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Last class</th>
                <th>Card type</th>
                <th>Expires</th>
                <th>Classes left</th>
            </tr>
        </thead>
        <tbody>
            {% for client in clients %}
                <tr>
                    <td>
                        <a href="{% url 'client_details' client.slug %}">{{ client.name }}</a>
                    </td>
                    <td>
                        {% if client.latest_lesson_pk %}
                            <a href="{% url 'lesson_details' client.latest_lesson_pk %}">
                                {{ client.latest_lesson_date|date:"M j, Y" }}
                            </a>
                        {% else %}
                            No lessons
                        {% endif %}
                    </td>
                    <td>
                        {% if client.card_type %}
                            {{ client.card_type }}
                        {% else %}
                            No card
                        {% endif %}
                    </td>
                    <td>
                        {% if client.card_expires %}
                            {{ client.card_expires|date:"M j, Y" }}
                        {% else %}
                            No card
                        {% endif %}
                    </td>
                    <td>{{ client.card_lessons_left }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
