{% extends 'base.html' %}
{% load bootstrap4 %}

{% block extrahead %}{{ form.media }}{% endblock %}

{% block title %}Client lessons attended{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'client_details' client.slug %}">{{ client.name }}</a></li>
    <li class="breadcrumb-item active">Lessons attended</li>
{% endblock %}

{% block content %}
    <form method="post" novalidate>
        {% csrf_token %}
        {% bootstrap_button "Save" button_type="submit" button_class="btn-success" %}
        {% bootstrap_form form %}
        {% bootstrap_button "Save" button_type="submit" button_class="btn-success" %}
    </form>
{% endblock %}