{% extends 'base.html' %}

{% block title %}
    {{ client.name }} - {{ block.super }}
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
{% endblock %}

{% block javascript %}
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script>
        var simplemde = new SimpleMDE()
    </script>
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'client_list' %}">Client list</a></li>
    <li class="breadcrumb-item active">{{ client.name }}</li>
{% endblock %}

{% block content %}
    {# TODO: Add a "new card" button #}
    <div class="mb-4">
        <a href="{% url 'add_card' client.slug %}" class="btn btn-primary">Add card</a>
        <a href="{% url 'edit_client' client.slug %}" class="btn btn-primary">Edit</a>
    </div>
    <table class="table">
        <tbody>
        <tr>
            <th>Name</th>
            <td>{{ client.name }}</td>
        </tr>
        <tr>
            <th>Date joined:</th>
            <td>{{ client.joined_on }}</td>
        </tr>
        <tr>
            <th>Card type:</th>
            <td>{% if client.card %}
                <a href="{% url 'edit_card' client.slug client.card.pk %}">{{ client.card.type.name }}</a>
            {% else %}
                No card
            {% endif %}</td>
        </tr>
        <tr>
            <th>Date purchased:</th>
            <td>{% if client.card %}
                <a href="{% url 'edit_card' client.slug client.card.pk %}">{{ client.card.purchased_on }}</a>
            {% else %}
                No card
            {% endif %}</td>
        </tr>
        <tr>
            <th>Epires on:</th>
            <td>{% if client.card %}
                <a href="{% url 'edit_card' client.slug client.card.pk %}">{{ client.card.expires }}</a>
            {% else %}
                No card
            {% endif %}</td>
             {# TODO: Decorate expiry date if expired! #}
        </tr>
        <tr>
            <th>Lessons left:</th>
            <td>{% if client.card %}
                <a href="{% url 'edit_card' client.slug client.card.pk %}">{{ client.card.lessons_left }}</a>
            {% else %}
                No card
            {% endif %}</td>
            {# TODO: decorate lessons_left if < 0 #}
        </tr>
        </tbody>
    </table>
    <div class="mb-4">
        <a href="{% url 'client_lessons' client.slug %}" class="btn btn-primary">Lessons attended</a>
        <a href="{% url 'client_cards' client.slug %}" class="btn btn-primary">Show card history</a>
    </div>
    <form method="post" novalidate>
        {% csrf_token %}
        {% include 'includes/form.html' %}
        <button type="submit" class="btn btn-success">Update</button>
    </form>
{% endblock %}
