{% extends 'base.html' %}
{% load bootstrap4 %}

{% block extrahead %}{{ form.media }}{% endblock %}

{% block title %}Edit client{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
{% endblock %}

{% block javascript %}
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script>
        var simplemde = new SimpleMDE()
    </script>
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'client_details' client.slug %}">{{ client.name }}</a></li>
    <li class="breadcrumb-item active">Edit</li>
{% endblock %}

{% block content %}
    <form method="post" novalidate>
        {% csrf_token %}
        {% bootstrap_button "Save" button_type="submit" button_class="btn-success" %}
        {% bootstrap_form form %}
        {% bootstrap_button "Save" button_type="submit" button_class="btn-success" %}
    </form>
{% endblock %}