{% extends 'base.html' %}
{% load bootstrap4 %}

{% block extrahead %}{{ form.media }}{% endblock %}

{% block title %}Edit lesson{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'lesson_details' lesson.pk %}">{{ lesson.held_at|date:"F d, Y \a\t H:i" }}</a></li>
    <li class="breadcrumb-item active">Edit</li>
{% endblock %}

{% block content %}
    <form method="post" novalidate>
        {% csrf_token %}
        {% bootstrap_button "Save" button_type="submit" button_class="btn-success" %}
        {% bootstrap_form form %}
        {% bootstrap_button "Save" button_type="submit" button_class="btn-success" %}
    </form>
{% endblock %}