{% extends 'base.html' %}

{# TODO: Make lessons detail page an editable form or an edit mode #}

{% block title %}
    {{ lesson.held_at|date:"Y m d h i" }} - {{ block.super }}
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
{% endblock %}

{% block javascript %}
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script>
        var simplemde = new SimpleMDE()
    </script>
{% endblock %}

{% block breadcrumb %}
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'lesson_list' %}">Lessons</a></li>
            <li class="breadcrumb-item active">{{ lesson.held_at|date:"M j, Y \a\t G:i" }}</li>
{% endblock %}

{% block content %}
    <div class="mb-4">
        <a href="{% url 'edit_lesson' lesson.pk %}" class="btn btn-primary">Edit</a>
    </div>
        <table class="table">
        <tbody>
            <tr>
                <th>Held at:</th>
                <td>{{ lesson.held_at|date:"l F d, Y \a\t H:i" }}</td>
            </tr>
            <tr>
                <th>Lesson type:</th>
                <td>{{ lesson.type.name }}</td>
            </tr>
            <tr>
                <th>Number of participants:</th>
                <td>{{ lesson.participants.count }}</td>
            </tr>
        </tbody>
    </table>
    <form method="post" novalidate>
        {% csrf_token %}
        {% include 'includes/form.html' %}
        <button type="submit" class="btn btn-success">Update</button>
    </form>
{% endblock %}
