{% extends 'base.html' %}

{% block title %}
    Lesson list
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item active">Lessons</li>
{% endblock %}

{% block content %}
    <div class="mb-4">
        <a href="{% url 'new_lesson' %}" class="btn btn-primary">New lesson</a>
    </div>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Date</th>
                <th>Day</th>
                <th>Time</th>
                <th>Session type</th>
                <th>Number of participants</th>
            </tr>
        </thead>
        <tbody>
            {% for lesson in lessons %}
                <tr>
                    <td>
                        <a href="{% url 'lesson_details' lesson.pk %}">{{ lesson.held_at|date:"d/m/y" }}</a>
                    </td>
                    <td>
                        <a href="{% url 'lesson_details' lesson.pk %}">{{ lesson.held_at|date:"l" }}</a>
                    </td>
                    <td>
                        <a href="{% url 'lesson_details' lesson.pk %}">{{ lesson.held_at|date:"H:i" }}</a>
                    </td>
                    <td>{{ lesson.type.short_name }}</td>
                    <td>{{ lesson.participant_count }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
