{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}New client{% endblock %}

{% block extrahead %}{{ form.media }}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item active">New client</li>
{% endblock %}

{% block content %}
    <form method="post" novalidate>
        {% csrf_token %}
        {% bootstrap_button "Create" button_type="submit" button_class="btn-success" %}
        {% bootstrap_form form %}
        {% bootstrap_button "Create" button_type="submit" button_class="btn-success" %}
    </form>
{% endblock %}